.macaron {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #676772;
}
.macaron .macaronTitle {
  font-family: "Trebuchet MS",Calibri, "Trebuchet MS", sans-serif;
  font-weight: 10;
  font-size: 70px;
}

.macaronList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

/* MACARON ITEM STYLING */

.macaronItem {
  border-radius: 0;
  width: 300px;
  height: 350px;
  margin: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.macaronItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.macaronItem div {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.macaronItem h1,
.macaronItem p {
  margin-left: 20px;
}

@media only screen and (max-width: 1300px) {
  .macaronList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .macaronList {
    grid-template-columns: 1fr;
  }
}
